# Ignorar a pasta de dependências do Node (muito pesada!)
node_modules
dist
dist-ssr
*.local

# Ignorar arquivos de log de erro do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de variáveis de ambiente (onde ficam senhas e chaves de API)
.env
.env.local
